.admin-login-form {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
  }
  
  .admin-login-form h2 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
  }
  
  .admin-login-form label {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  .admin-login-form input[type="email"],
  .admin-login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-sizing: border-box;
  }
  
  .admin-login-form input[type="email"]:focus,
  .admin-login-form input[type="password"]:focus {
    border-color: #0056b3;
    outline: none;
  }
  
  .admin-login-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;

  }
  
  .admin-login-form button:hover {
    background-color: #0056b3;
  }
  
  .admin-login-form .error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  