.simple-register-form {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #6093a0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .simple-register-form h2 {
    text-align: center;
  }
  
  .simple-register-form label {
    display: block;
    margin-top: 10px;
  }
  
  .simple-register-form input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .simple-register-form button {
    width: 80%;
    padding: 10px;
  }
  .simple-register-form button:hover {
    background-color: #0056b3;
  }
  
  h2,label,p{
    color: #333;
  }
  span:hover{
  color: #0056b3;
  }